/* You can add global styles to this file, and also import other style files */
html, body {
    height: 100%;
    margin: 0px;
    background-color: #f1f1f1;
    font-family: Helvetica, Arial, sans-serif;
}

@media only screen and (max-width: 768px) {
    html, body {
        margin-top: 40px;
    }
}

$primary-text-color: #737C84;
$secondary-text-color: #B4B4B4;
$red-text-color: #ED1946;
$blue-text-color: #69A3FF;
$orange-text-color: #FF9632;

.text-primary {
    color: $primary-text-color;
}

.text-secondary {
    color: $secondary-text-color;
}

.text-red {
    color: $red-text-color;
}

.text-blue {
    color: $blue-text-color;
}

.text-orange {
    color: $orange-text-color;
}